@media screen and (max-width:576px) {
    .header_part{
        width: 360px;
        margin: auto;
        text-align: center;
    }
    .header_div{
        flex-direction: column;
    }
    .bannar{
        width: 100%;
    }
    .bannar h1{
        width: 70%;
    }
    .lorem{
        display: none;
    }
    .phone_display{
        display: block;
        padding-top: 10px;
    }
    .bannar button{
        margin-left: -30px;
        padding: 10px 40px;
    }
    .bannar_img{
        width: 100%;
        text-align: center;
    }
     .main_part{
        width: 360px;
        margin: auto;
    }
    .main_section{
        display: block;
    }
    .single_part{
        width: 100%;
        background-color: white;
    }
    .single_btn_1{
        padding: 10px 40px;
    }
    .single_btn_2{
        padding: 10px 40px;
    }
    .single_btn_3{
        padding: 10px 40px;
    }
    .main_category{
     grid-template-columns: repeat(1,1fr);
    }
    .single_category img{
        width: 100%;
    }
    .last_button{
        display: none;
    }
    .footer_part{
        width: 100%;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        height: 550px;
    }
    .goal_text{
        text-align: center;
        width: 300px;
        color:white;
    }
     .footer_menu_list{
        /* width: 400px; */
        width: 90%;
        text-align: center;
        flex-direction: column;
        gap: 30px;

     }
}


@media screen and (min-width :577px) and (max-width:992px) {
    .header_part{
        width: 700px;
        margin: auto;
    }
    .bannar h1 {
        width: 50%;
    }
    .laptop_display{
        display: block;
    }
    .phone_display{
        display: none;
    }
    .lorem{
        display: none;
    }
     .main_part{
        width: 700px;
    }
    .single_part{
        display: flex;
        justify-content: space-between;
    }
    
     .main_section{
        display: block;
     }
     .single_part{
        width: 100%;
        height: 80px;
        background-color: white;
     }
     .main_category{
        display: grid;
        grid-template-columns: repeat(2,1fr);
     }
     .button{
        margin-top: 20px;
        text-align: center;
     }
     .last_button{
        padding: 15px 40px;
        border-radius: 6px;
        background-color: tomato;
        border: none;
     }

     .footer_part{
        width: 95%;
        margin: auto;
        text-align: center;
     }
     .goal_text{
        margin-left: -110px;
        width: 700px;
        margin: auto;
     }

     .footer_menu_list{
        width: 90%;
     }
    
}